button {
  padding: 5px 25px;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  cursor: pointer;

//   &:hover {
//     background-color: #dfdfdf;
//   }
}
